<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main_layout">
<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/css/book/book.css}"/>
    <script src="/webjars/chartjs/2.9.3/Chart.js"></script>
</th:block>

<style layout:fragment="content_css">
    .pagination{
        width: fit-content;
        margin: auto;
    }
    .pagination a{
        padding-right: 4px;
        padding-left: 4px;
    }
    .pagination li.active a{
        background-color: #866ec7;
        color: white;
    }
    .search_by{
        padding-top: 15px;
    }

</style>

<section layout:fragment="f-content">
    <div>
        <table>
            <tr>
                <td><span style="font:bold; color:#866ec7; font-size: 18px ">My Books</span>
                </td>
            </tr>
            <tr><td><canvas id="myChart" width="400" height="400"></canvas></td></tr>
        </table>
    </div>
    <div class="div-liner">
        <div style="height: 10px"></div>
        <div style="border-top: 1px solid #ccc;"></div>
        <div style="height: 10px"></div>
    </div>
    <!-- 결과 책 목록 -->
    <table>
        <div  class="bookblock" th:each="inventoryBook: ${bookList}">
            <div>
                <a th:href="@{/books/detail/{bookId}(bookId=${inventoryBook.bookId})}">
                    <img src="/images/bookcover.jpeg" width="160">
                </a>
                <p class="bookinfo" th:text="${inventoryBook.title}"></p>
                <p class="bookinfo" th:text="${inventoryBook.author}"></p>
            </div>
        </div>
    </table>
    <!-- 하단 페이징 -->
    <nav class="navbar-pagination">
        <ul class="pagination"
            th:with="start=${bookList.number - 2 > 0 ? bookList.number - 2  : 0},
                     last=(${start + 4 < bookList.totalPages-1 ? start + 4 : (bookList.totalPages-1)})">
            <li>
                <a th:href="${bookList.first} ? '#':'javascript:page_set(0);'" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li th:class="${bookList.first} ? 'disabled'">
                <a th:href="${bookList.first} ? '#' :'javascript:page_set('+ ${bookList.number-1} +');'" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == bookList.number} ? 'active'">
                <a th:text="${page+1}" th:href="'javascript:page_set('+ ${page} +');'"></a>
            </li>

            <li>
                <a th:href="${bookList.last} ? '#' : 'javascript:page_set('+ ${bookList.number+1} +');'" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li>
                <a th:href="${bookList.last} ? '#':'javascript:page_set('+ ${bookList.totalPages-1} +');'" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<th:block layout:fragment="content_js">
    <script th:inline="javascript">
        function page_set(page) {
            location.href=location.pathname+'?page='+page
        }
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</th:block>