<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/book_layout">

<style layout:fragment="content_css">
    .book_info {
        width: 100%;
    }
    .book_info ul{
        list-style: none;
        padding-inline-start: 0px;
    }
    .book_info .bi_title{
         font-size: 20px;
     }
    .book_info .bi_author{
        font-size: 18px;
    }
    .starR{
        font-size:22px;
        letter-spacing:0;
        display:inline-block;
        margin-left:5px;
        color:#ccc;
        text-decoration:none;

    }
    .starR.on{ color:#a993c7;}
    .layer_list{
        transition: 0.5s;
    }
    .test1{
        background:white;
        border: 1px grey;
    }
</style>

<section layout:fragment="f-content">
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5" >
        <div class="div-liner">
            <div style="height: 10px"></div>
            <div style="border-top: 1px solid #ccc;"></div>
            <div style="height: 10px"></div>
        </div>
        <div style="display:flex;">
            <div style="margin-left: 30px; margin-right: 30px">
                <a href="/">
                    <img src="/images/bookcover.jpeg" width="160">
                </a>
            </div>
            <div class="book_info">
                <div style="height: 10px"></div>
                <ul>
                    <li class="bi_title">
                        <span th:text="${book.title}"></span>
                    </li>
                    <li class="bi_author">
                        <span th:text="${book.author}"></span>
                    </li>
                    <li class="bi_publisher">
                        <span th:text="${book.publisher}"></span>
                    </li>
                    <li><div style="border-top: 1px solid #ccc; height: 10px; margin-top: 10px;"></div></li>
                    <li>
                        <span id="readCount" th:text="${book.readCount}"></span>
                        <span>명이 끝까지 읽었습니다!</span>
                    </li>
                    <li>
                        <span id="addCount" th:text="${book.addCount}"></span>
                        <span>명이 서재에 담았습니다!</span>
                    </li>
                    <li>
                        <div class="starRev">
                            <span class="starR">★</span>
                            <span class="starR">★</span>
                            <span class="starR">★</span>
                            <span class="starR">★</span>
                            <span class="starR">★</span>
                        </div>
                    </li>
                    <li>
                        <a id ="addBook" class="btn btn-primary" style="display: none; width: fit-content"
                           th:href="${session.member ==null} ?'javascript:login()':
                            'javascript:inventory_add(' + ${session.member.inventory.id} + ','+ ${book.id} +');'
                             ">서재에 담기</a>
                        <a id ="removeBook" class="btn btn-primary" style="display: none; width: fit-content"
                           th:href="${session.member !=null} ? 'javascript:inventory_remove();'
                             ">서재에서 지우기</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="height: 10px"></div>
        <div style="border-top: 1px solid #ccc;"></div>
        <div style="height: 10px"></div>
        <div>
            <span th:text="'isbn : '+${book.isbn}"></span>
            <p></p>
            <span>책 상세 페이지 입니다 *^^*</span>
        </div>

    </div>

</section>
<th:block layout:fragment="content_js">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var inventorybook;
        $(document).ready(function () {
            var sessionChk = /*[[${#strings.isEmpty(session.member)}]]*/;
            if(!sessionChk){
                chk();
            }else{
                $('#addBook').css('display','block');
            }
        });
        function chk(){
            var inventoryId =/*[[${session.member==null}? null :${session.member.inventory.id}]]*/;
            var bookId= /*[[ ${book.id} ]]*/;
            $.ajax({
                url:"/inventorybooks",
                type: "GET",
                data:{
                    inventoryId: inventoryId,
                    bookId: bookId
                },
                async: false,
                success:function(data,textStatus, jqXHR) {
                    console.log(data);
                    if( jqXHR.status == 200){
                        inventorybook=data;
                        $('#removeBook').css('display','block');
                        var index = inventorybook.rating;
                        $('.starRev span:nth-child(-n+'+index+')').addClass('on');
                    }else{
                        $('#addBook').css('display','block');
                    }
                }
            });
        }

        function login() {
            alert("로그인이 필요한 서비스입니다");
            document.location.href="/members/login"
        }
        function inventory_add(inventoryId, bookId, rating) {
            $.ajax({
                url:"/inventorybooks",
                type: "POST",
                data:{
                    inventoryId:inventoryId,
                    bookId:bookId,
                    rating:rating
                },
                async:true,
                success:function (data,textStatus, jqXHR) {
                    console.log(rating)
                    if(rating ==null) {
                        var count =Number($("#addCount").text());
                        $("#addCount").text(count + 1);
                    }else{
                        var count =Number($("#readCount").text());
                        $("#readCount").text(count + 1);
                    }
                    $("#addBook").css("display","none");
                    $("#removeBook").css("display","block");
                    inventorybook=data;
                },
                error:function (e) {//jqXHR
                    alert(e.status+e.statusText+' : ' +e.responseText );
                }
            });
        }
        function inventory_remove(){
            console.log(inventorybook.id);
            $.ajax({
                url:"/inventorybooks",
                type:"DELETE",
                data:{ inventoryBookId: inventorybook.id},
                async:true,
                success:function (data) {
                    if(inventorybook.status !='DONE'){
                        var count = Number($("#addCount").text());
                        $("#addCount").text(count-1);
                    }else{
                        var count =Number($("#readCount").text());
                        $("#readCount").text(count-1);
                    }
                    inventorybook = null;
                    $("#addBook").css("display","block");
                    $("#removeBook").css("display","none");
                    $('.starRev span').removeClass('on');

                }
            })
        }
        $('.starRev span').click(function(){
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            var rating = $(this).index()+1;
            if(/*[[${#strings.isEmpty(session.member)}]]*/) {
                login();
                return false;
            }
            $("#addBook").css("display","none");
            $("#removeBook").css("display","block");
            if(typeof inventorybook == 'undefined' || inventorybook ==null){
                var inventoryId= /*[[${session.member==null}? null :${session.member.inventory.id}]]*/;
                var bookId= /*[[ ${book.id} ]]*/;
                inventory_add(inventoryId, bookId, rating);
            }else{
                var params = new Object();
                params.inventoryBookId = inventorybook.id;
                params.rating = rating;
                params.status = inventorybook.status;
                var jsonData = JSON.stringify(params);
                $.ajax({
                    url:"/inventorybooks",
                    type: "PUT",
                    dataType: "json",
                    data: jsonData,
                    contentType: 'application/json',
                    async:true,
                    success:function (data) {
                        if(params.status !='DONE'){
                            var count = Number($("#readCount").text());
                            $("#readCount").text(count + 1);
                            var count = Number($("#addCount").text());
                            $("#addCount").text(count-1);
                        }
                        inventorybook=data;
                    }
                });
            }
            return false;
        });

        /* ]]> */
    </script>
</th:block>