<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/book_layout">

<style layout:fragment="content_css">
    .pagination a{
        padding-right: 4px;
        padding-left: 4px;
    }
    .pagination li.active a{
        background-color: #866ec7;
        color: white;
    }
</style>

<section layout:fragment="f-content">
    <table>
        <div  class="bookblock" th:each="book: ${bookList}">
            <div>
                <a th:href="@{/books/detail/{bookId}(bookId=${book.id})}">
                    <img src="/images/bookcover.jpeg" width="160">
                </a>
                <p class="bookinfo" th:text="${book.title}"></p>
                <p class="bookinfo" th:text="${book.author}"></p>
            </div>
        </div>
    </table>

    <nav style="padding-left: 30%;  text-align: center;">
        <ul class="pagination"
            th:with="start=${bookList.number - 1 > 0 ? bookList.number - 1  : 1},
                        last=(${start + 4 < bookList.totalPages ? start + 4 : bookList.totalPages}),
                            sortby = ${orderBy}+',desc' ">
            <li>
                <a th:href="@{/books(page=1, sort=${sortby})}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${bookList.first} ? 'disabled'">
                <a th:href="${bookList.first} ? '#' : @{/books(page=${bookList.number}, sort=${sortby})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == bookList.number + 1} ? 'active'">
                <!-- <a th:text="${page}" th:href="@{/books(page=${page}, sort=${sortby})}"></a>

                -->
                <a th:text="${page}" th:href="'javascript:page_set('+ ${page} +');'"></a>
            </li>

            <li th:class="${bookList.last} ? 'disabled'">
                <a th:href="${bookList.last} ? '#' : @{/books(page=${bookList.number + 2}, sort=${sortby})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/books(page=${bookList.totalPages}, sort=${sortby})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<th:block layout:fragment="content_js">
    <script th:inline="javascript">
        $.fn.serializeObject = function()

        {

            var o = {};

            var a = this.serializeArray();

            $.each(a, function() {

                if (o[this.name]) {

                    if (!o[this.name].push) {

                        o[this.name] = [o[this.name]];

                    }

                    o[this.name].push(this.value || '');

                } else {

                    o[this.name] = this.value || '';

                }

            });

            return o;

        };

        $(document).ready(function () {

        });
        function temp() {
            alert(
                location.href);
        }
        function page_set(p) {
            /*<![CDATA[*/
            var page = p-1;
            alert(location.pathname+'?page='+page+'&sort='+/*[[ ${orderBy} ]]*/);
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', location.pathname+'?page='+page+'&sort='+/*[[ ${orderBy} ]]*/);
            document.charset = "utf-8";
            var searchWord = document.createElement("input");
            searchWord.setAttribute("name","searchWord")
            searchWord.setAttribute("value",/*[[ ${bookSearch.searchWord} ]]*/)
            form.appendChild(searchWord)
            var searchField = document.createElement("input");
            searchField.setAttribute("name","searchField")
            searchField.setAttribute("value", /*[[ ${bookSearch.searchField} ]]*/)
            form.appendChild(searchField)
            document.body.appendChild(form);

            form.submit();
            /* ]]> */
        }
        function page_set1(p) {
            /*<![CDATA[*/

            alert(searchField);
            $.ajax({
                type: 'POST',
                url: location.href,
                data: {
                    page : page,
                    searchWord : /*[[ ${bookSearch.searchWord} ]]*/,
                    searchField : /*[[ ${bookSearch.searchField} ]]*/

                },
                dataType: 'json',
                success: function () {
                    alert("ggg")
                },error : function (data) {
                    alert(data);
                }
            })
            /* ]]> */
        }

    </script>
</th:block>