<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/book_layout">

<style layout:fragment="content_css">
    .pagination{
        width: fit-content;
        margin: auto;
    }
    .pagination a{
        padding-right: 4px;
        padding-left: 4px;
    }
    .pagination li.active a{
        background-color: #866ec7;
        color: white;
    }
    .search_by{
        padding-top: 15px;
    }

</style>

<section layout:fragment="f-content">
    <nav class="search_by">
        <div>
            <table>
                <td>
                    <span th:text="${bookList.totalElements}" style="font:bold; color:#866ec7; font-size: 18px "></span>
                    <span>개의 책이 검색되었습니다.</span>
                </td>
            </table>
        </div>
        <ul class="pagination" style="width:100%"> <!-- style="list-style: none; display:flex;" -->
            <li th:class="${sortBy.equals('readCount')} ? 'active'">
                <a th:href="'javascript:search_by(\'readCount\');'" ><span>인기순</span></a>
            </li>
            <li th:class="${sortBy.equals('rating')} ? 'active'" >
                <a th:href="'javascript:search_by(\'rating\');'" ><span>평점순</span></a>
            </li>
        </ul>
    </nav>
    <div class="div-liner">
        <div style="height: 10px"></div>
        <div style="border-top: 1px solid #ccc;"></div>
        <div style="height: 10px"></div>
    </div>
    <!-- 결과 책 목록 -->
    <table>
        <div  class="bookblock" th:each="book: ${bookList}">
            <div>
                <a th:href="@{/books/detail/{bookId}(bookId=${book.id})}">
                    <img src="/images/bookcover.jpeg" width="160">
                </a>
                <p class="bookinfo" th:text="${book.title}"></p>
                <p class="bookinfo" th:text="${book.author}"></p>
            </div>
        </div>
    </table>
    <!-- 하단 페이징 -->
    <nav class="navbar-pagination">
        <ul class="pagination"
            th:with="start=${bookList.number - 2 > 0 ? bookList.number - 2  : 0},
                     max = ${bookList.totalPages==0 ? 0: bookList.totalPages-1},
                     last=(${start + 4 < max ? start + 4 : max})">
            <li>
                <a th:href="${bookList.first} ? '#':'javascript:page_set(0);'" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li th:class="${bookList.first} ? 'disabled'">
                <a th:href="${bookList.first} ? '#' :'javascript:page_set('+ ${bookList.number-1} +');'" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == bookList.number} ? 'active'">
                <a th:text="${page+1}" th:href="'javascript:page_set('+ ${page} +');'"></a>
            </li>

            <li>
                <a th:href="${bookList.last} ? '#' : 'javascript:page_set('+ ${bookList.number+1} +');'" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li>
                <a th:href="${bookList.last} ? '#':'javascript:page_set('+ ${bookList.totalPages-1} +');'" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<th:block layout:fragment="content_js">
    <script th:inline="javascript">
        function search_by(sort) {
            /*<![CDATA[*/
            var searchWord =/*[[ ${bookSearch.searchWord} ]]*/;
            var searchField =/*[[ ${bookSearch.searchField} ]]*/;
            var sortBy =sort;
            location.href=location.pathname+'?searchWord='+searchWord+
                '&searchField='+searchField+'&sortBy='+sortBy;
            /* ]]> */
        }
        function page_set(page) {
            /*<![CDATA[*/
            var searchWord =/*[[ ${bookSearch.searchWord} ]]*/;
            var searchField =/*[[ ${bookSearch.searchField} ]]*/;
            var sortBy =/*[[ ${sortBy} ]]*/;
            location.href=location.pathname+'?searchWord='+searchWord+
                            '&searchField='+searchField+
                            '&page='+page+'&sortBy='+sortBy;
            /* ]]> */
        }

    </script>
</th:block>